 <% if record.favorited_by?(current_end_user) %>
    <p class="d-inline">
      <%= link_to record_favorites_path(record.id), method: :delete, class: "text-white", remote: true do %>
        <i class="fas fa-star fa-2x favorite-icon"></i>
      <% end %>
    </p>
  <% else %>
    <p class="d-inline">
      <%= link_to record_favorites_path(record.id), method: :post, class: "text-white ", remote: true do %>
        <i class="far fa-star fa-2x"></i>
      <% end %>
    </p>
  <% end %>