<div class="container">
  <div class="center-block text-white mb-5">
    <h3>法令厳守</h3>
    <p>ユーザーは、出品にあたっては、古物営業法、特定商取引に関する法律、不当景品類及び不当表示防止法、不正競争防止法、商標法、著作権法その他の法令を遵守しなければなりません。</p>
  </div>
   <div class="center-block text-white mb-5">
    <h3>知的財産権等の帰属</h3>
    <p>本サービスを構成するすべての素材に関する権利は、弊社又は当該権利を有する第三者に帰属しています。ユーザーは、本サービスのすべての素材に関して、一切の権利を取得することはないものとし、権利者の許可なく、所有権、著作権を含む一切の知的財産権、肖像権、パブリシティー権等、コンテンツ素材に関する権利を侵害する一切の行為をしてはならないものとします。本規約に基づく本サービスの利用の許諾は、本サービスに関する弊社又は当該権利を有する第三者の権利の使用許諾を意味するものではありません。</p>
  </div>
</div>