<div class="text-center">
  <div class="top-main">
    <div>
      <%= image_tag 'main-logo.png', class: "img-fluid mt-5" %>
    </div>
    <%= link_to image_tag("login-icon.png"), new_end_user_session_path %>
    <li><%= link_to 'はじめる', new_end_user_registration_path %></li>
  </div>
</div>