<div class="text-center">
  <div class="top-main">
    <div>
      <%= image_tag 'main-logo.png', class: "img-fluid mt-5" %>
    </div>
    <div class="login">
       <%= link_to image_tag("login-icon.png"), new_end_user_session_path, class: "original-icon" %>
       <%= link_to image_tag("sign-up-icon.png"), new_end_user_registration_path, class: "original-icon" %>
    </div>

  </div>
</div>