<div class="container">
  <h3>お気に入り一覧</h3>
    <% @favorite_records.each do |favorites_record| %>
      <%= link_to record_path(favorites_record.id) do %>
       <%= attachment_image_tag favorites_record, :image, fallback: "no-image.png", size:'200x200' %>
      <% end %>
    <% end %>
</div>