<div class="container">
  <div class="text-center mb-3">
    <%= link_to image_tag("new-collection.png"), new_record_path, class: "img-fluid original-icon" %>
  </div>
  <div class="mb-5">
    <% @records.each do |record| %>
      <%= link_to record_path(record.id) do %>
        <%= attachment_image_tag record, :image, fallback: "no-image.png", size:'200x200', class: "m-1" %>
      <% end %>
    <% end %>
  </div>

</div>