* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    line-height: 100%;
    letter-spacing: 1px;
    text-decoration: none !important;
    font-family: 'Zen Antique Soft', serif;

  h1,h2,h3 {
    color: white;
  }

  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: white;
    opacity: 0.7;
  }

  .opacity {
    opacity: 0.3;
  }

  p {
    margin-bottom: 0;
  }

  .bg-color {
    background-color: rgba(0, 0, 0, 0.7);

  }

  .d-inline {
    display: inline-bl;
  }

}

