@media screen and (max-width:599px){

// headerのレスポンシブデザイン
  .sp-menu {
    padding-bottom: 13px;
  }


// mypageのレスポンシブデザイン
  .my-record {

    img {
    width: 100px;
    height: 100px;
    margin: 5px;
    }

  }

  .new-collection{
    margin-top: 0px;

    .new-collection-icon {
      img{
      width: 100px;
      }
    }

  }

// レコード一覧画面のレスポンシブデザイン
  .search-btn {
    margin-top: 20px;
  }

//レコード詳細画面のレスポンシブデザイン
 .show-record {
   width: 120px;
   height: 120px;
 }

 .sp-fontsize {
  font-size: 15px;
 }

 .sp-fontsize-p {
   font-size: 12px;
 }

 .comment-form {
   width: 140px;
 }

 .comment-index {
   font-size: 15px;
 }

 .favorite-icon {
   font-size: 20px;
 }


//ユーザ一覧画面のレスポンシブデザイン


// ユーザ詳細画面のレスポンシブデザイン
  .user-show {
    .profile-image {
      width: 100px;
      height: 100px;
    }
    .record-image {
      width: 80px;
      height: 80px;
    }
    .introduction {
      font-size: 8px;
    }
    .follow {
      font-size: 12px;
    }
    .follower {
      font-size: 9px;
    }
    .responsive-title {
      font-size: 20px;
    }
  }

  //DMページのレスポンシブデザイン
  .d-message {
    font-size: 13px;
  }
  .record-index {
    .record-image {
      width: 100px;
      height: 100px;
    }
  }
   .chat-time {
    font-size: 10px;
  }

  footer {
    .f-menu {
      font-size: 9px;
      margin: 0;
    }
  }

}


//PC画面のみに反映させたいデザイン
@media screen and (min-width:600px){

  //レコード詳細ページのスタイリング

  //DMページ
  .show-message {
    font-size: 18px;
  }

  .chat-time {
    font-size: 12px;
  }

  .dm-wrapper {
    padding: 15px 100px;
  }
}