@media screen and (max-width:599px){

// mypageのレスポンシブデザイン
  .my-record {

    img {
    width: 100px;
    height: 100px;
    margin: 5px;
    }

  }

  .new-collection{
    margin-top: 0px;

    .new-collection-icon {
      img{
      width: 100px;
      }
    }

  }

// レコード一覧画面のレスポンシブデザイン
  .search-btn {
    margin-top: 20px;
  }

// ユーザ詳細画面のレスポンシブデザイン
  .user-show {
    .profile-image {
      width: 100px;
      height: 100px;
    }
    .record-image {
      width: 80px;
      height: 80px;
    }
    .introduction {
      font-size: 8px;
    }
    .follow {
      font-size: 12px;
    }
    .follower {
      font-size: 9px;
    }
    .responsive-title {
      font-size: 20px;
    }
  }

  .record-index {
    .record-image {
      width: 100px;
      height: 100px;
    }
  }

  footer {
    .footer-menu {
      font-size: 10px;
    }
  }
}

