@media screen and (max-width:599px){

// headerのレスポンシブデザイン
  .sp-menu {
    padding-bottom: 13px;
  }


// mypageのレスポンシブデザイン
  .my-record {

    img {
    width: 100px;
    height: 100px;
    margin: 5px;
    }

  }

  .new-collection{
    margin-top: 0px;

    .new-collection-icon {
      img{
      width: 100px;
      }
    }

  }

// レコード一覧画面のレスポンシブデザイン
  .search-btn {
    margin-top: 20px;
  }

//レコード詳細画面のレスポンシブデザイン
 .show-record {
   width: 120px;
   height: 120px;
 }

 .sp-fontsize {
  font-size: 15px;
 }

 .sp-fontsize-p {
   font-size: 12px;
 }

//ユーザ一覧画面のレスポンシブデザイン


// ユーザ詳細画面のレスポンシブデザイン
  .user-show {
    .profile-image {
      width: 100px;
      height: 100px;
    }
    .record-image {
      width: 80px;
      height: 80px;
    }
    .introduction {
      font-size: 8px;
    }
    .follow {
      font-size: 12px;
    }
    .follower {
      font-size: 9px;
    }
    .responsive-title {
      font-size: 20px;
    }
  }

  .record-index {
    .record-image {
      width: 100px;
      height: 100px;
    }
  }

  footer {
    .menu {
      font-size: 7px;
    }
  }
}

