// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chat-bg {
  background-color: grey;
  display: inline-block;
  font-size: 22px;
  padding: 5px;
  border-radius: 5px;
  // opacity: 0.6;
}

.chat-time {
  font-size: 12px;
}