<footer>
  <div class="container text-center pt-5">
    <nav>
      <ul class="d-flex justify-content-center">
        <li class="footer-menu"><%= link_to "My profile", end_user_path(current_end_user.id), class: "f-menu" %></li>
        <li class="footer-menu"><%= link_to 'logout', destroy_end_user_session_path, method: :delete, class: "f-menu", id: "test" %></li>
        <li class="footer-menu"><%= link_to '利用規約', terms_of_use_path, class: "f-menu" %></li>
        <li class="footer-menu"><%= link_to 'お問い合わせ', new_contact_path, class: "f-menu" %></li>
      </ul>
    </nav>
  </div>
</footer>