<header>
  <div class="container text-center mb-1">
    <div>
      <%= image_tag 'main-logo2.png', class: "img-fluid mt-3" %>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-around" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="sp-menu"><%= link_to 'My Records', mypage_path(current_end_user.id), class: "menu" %></li>
          <li class="sp-menu"><%= link_to 'Search', records_path, class: "menu" %></li>
          <li class="sp-menu"><%= link_to 'DM', rooms_path, class: "menu" %></li>
        </ul>
      </div>
    </nav>
  </div>
</header>